/* VARIABLE */
$primary-color: #000000;
$secondary-color: #8d8c8b;
$tertiary-color: #f7b300;
$primary-button: #133416;

/* DEFAULT STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3ede5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.btn-primary {
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: $primary-button;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    padding: 18px 35px;
}

.main-menu,
.sign-in,
.hero__img 
{
    display: none;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 40px;
}

/* HERO SECTION STYLES */

.hero {
    padding: 0 20px;
    &__title {
        font-size: 2.4rem;
        color: $primary-color;
        span {
            color: $tertiary-color;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 1rem;
        padding: 15px 0;
        color: $secondary-color;
    }
    
    &__review {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 25px;
    }

    &__raiting {
        font-weight: 500;
        font-size: .75rem;
        color: $secondary-color;
    }
}

/* FOOTER STYLES */
footer {
    padding: 0 20px;

}

.footer__text {
    text-align: center;
    font-weight: 500;
    font-size: .75rem;
    color: $secondary-color; 
    padding: 80px 0 30px;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    img {
        width: 40vw;
    }
}



@media (min-width: 376px) {
    .hero__raiting,
    .footer__text 
    {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    /* DEFAULT STYLES */
    .footer__logo {
        justify-content: center;
        gap: 40px;
        img {
            width: 15vw;
        }
    }
    
}