:root {
    --Background: #f3ede5;
    --Color-primary: #133416;
    --Color-secondary: #8d8c8b;
    --Color-tertiary: #f7b300;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Background);
}


/* NAV STYLE */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}

nav img {
    display: block;
}


/* HERO SECTION STYLE */
.hero-section {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}
.hero-section .hero-section__title {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Color-primary);
}
.hero-section .hero-section__title b {
    color: var(--Color-tertiary);
}
.hero-section .hero-section__text,
footer .hero-section__text  {
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 500;
    color: var(--Color-secondary);
    line-height: 1.5;
}
.hero-section .hero-section__btn {
    border-style: none;
    outline: none;
    border-radius: .2rem;
    padding: 1rem 1.8rem;
    font-weight: 700;
    font-size: .8rem;
    background-color: var(--Color-primary);
    color: white;
}
.hero-section .hero-section__icons {
    display: flex;
    gap: 1rem;
    margin-top: .8rem;
}


/* FOOTER STYLE */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0 .5rem;
}
footer .footer__logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
footer .footer__img {
    display: block;
    width: 40vw;
}